body, html {
    height: 100%;
}

#app {
    height: 100%;
}

a {
    color: #22a39f !important;
    cursor: pointer;
}

.navbar-default .navbar-nav>.active>a, .navbar-default {
    background: black;
}

.container {
    background: #fff;
    margin-top: 30px;
    padding: 30px 45px;
    box-shadow: 0 0 8px #ccc;
    border-radius: 6px;
    position: relative;
    text-align: center;
}

.login-wrapper {
    position: fixed;
    top: 0;
    background: #e5e6e8;
    width: 100%;
    height: 100%;
    color: #555;
}

.login-img {
    width: 80px;
    height: 80px;
}

.small {
    max-width: 445px;
    min-height: 530px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.app-logo {
    width: 25px;
    height: 25px;
    margin-top: -3px;
    margin-right: 10px;
}

textarea:focus,
button:focus,
input[type="text"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(34, 163, 159, .5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(34, 163, 159, .5);
    outline: 0 none;
}

.login-btn {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 11px 16px;
    border-color: #22a39f;
}
.cover-full {
    height: 100%;
}
.univ {
    background-color: #22a39f !important;
}
.cUniv {
    color: #22a39f !important;
}
.pointer {
    cursor: pointer;
}
.bl {
    font-weight: bold;
 }
.mt {
    margin-top: 10px;
}
.mb {
    margin-bottom: 10px;
}

.header {
    position: absolute;
    background: #222222;
    float: right;
    width: 110px;
    top: 15%;
    right: 4%;
}

.header-ul {
    list-style-type: none;
    margin-bottom: 0;
}
.header-li {
    height: 80px;
    padding-top: 30px;
    float: none;
    font-weight: 600;
    color: #FFFFFF;
    font-family: 'Montserrat, sans-serif';
    margin-left: -58%;
    text-align: center;
    cursor: pointer;
}
.header-li:hover {
    color: #22a39f;
}
.active {
    background: #22a39f;
}
.active:hover {
    color: white;
}

.acceuil-wrapper {
    background: url('../theme/img/acceuil.jpg') no-repeat center center fixed;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: content-box;
}

.acceuil-from {
    display: inline-block;
    position: absolute;
    top: 65%;
    z-index: 99;
    opacity: 1;
    margin: auto;
    width: 100%;
    text-align: center;
}

.acceuil-from-item {
    border-color: #fff !important;
    border: 2px solid;
    border-radius: 3px;
    color: #fff;
    margin-right: auto;
    padding: 10px 5%;
    margin-left: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Montserrat, sans-serif';
    font-weight: 600;

}
.social {
    position: absolute;
    right: 4%;
}
.social-item {
    padding: 18px 10px;
    font-size: 20px;
    cursor: pointer;
    color: #22a39f;
}
.acceuil-from-item:hover {
    background: #22a39f;
}


